**
!.gitignore
!*.py
!subw_fiber_template.fsp
!subw_gaussian_released_template.fsp
!subw_gaussian_packaged_template.fsp
!/script
!/script/*
!/4cb4
!/4cb4/*
!/28b1
!/28b1/*
!/866f
!/866f/*
!/4e25
!/4e25/*
!/ee71
!/ee71/*
!/65da
!/65da/*
!/ade1
!/ade1/*
!/38b2
!/38b2/*
!/logs
!/logs/**