**
!.gitignore
!*.py
!subw_fiber_template.fsp
!subw_gaussian_released_template.fsp
!subw_gaussian_packaged_template.fsp
!subw_gaussian_airclad_template.fsp
!/script
!/script/*
!/logs
!/logs/**
!/grating_sweep
!/grating_sweep/*
!/grating_sweep_packaged
!/grating_sweep_packaged/*
!/grating_sweep_airclad
!/grating_sweep_airclad/*
!/grating_sweep_airclad_1
!/grating_sweep_airclad_1/*
!/grating_sweep_released_1
!/grating_sweep_released_1/*
!/grating_sweep_released_2_fiber27
!/grating_sweep_released_2_fiber27/*
!/works
!/works/*
#
!/4cb4
!/4cb4/*

!/4e25
!/4e25/*

!/6ded
!/6ded/*

!/38b2
!/38b2/*

!/38b2
!/38b2/*

!/65da
!/65da/*

!/639a
!/639a/*

!/866f
!/866f/*

!/ade1
!/ade1/*

!/c2b1
!/c2b1/*

!/ee71
!/ee71/*

!/ade1
!/ade1/*

!/e86b
!/e86b/*

!/e7ec
!/e7ec/*

!/04ae
!/04ae/*

!/6f5b
!/6f5b/*

!/5d5e
!/5d5e/*

!/24d0
!/24d0/*

!/15a5
!/15a5/*

!/15a5
!/15a5/*

!/3ac8
!/3ac8/*

!/666e
!/666e/*

!/3723
!/3723/*

!/f82c
!/f82c/*

!/f93f
!/f93f/*

!/e251
!/e251/*

!/f3b5
!/f3b5/*

!/7f82
!/7f82/*

!/bf30
!/bf30/*
