**
!.gitignore
!*.py
!subw_fiber_template.fsp
!subw_gaussian_released_template.fsp
!subw_gaussian_packaged_template.fsp
!/script
!/script/*
!/logs
!/logs/**
!/grating_sweep
!/grating_sweep/*
#
/4cb4
/4cb4/*

/4e25
/4e25/*

/6ded
/6ded/*

/28b1
/28b1/*

/38b2
/38b2/*

/38b2
/38b2/*

/65da
/65da/*

/639a
/639a/*

/866f
/866f/*

/ade1
/ade1/*

/c2b1
/c2b1/*

/ee71
/ee71/*
